extends layout 

block content
	div#main
		form(onsubmit="handleSubmit(this); return false;")
			div.mdl-grid
				div.mdl-cell.mdl-cell--12-col(style="{justify-content:left}")
					p 1. Setting a header table
				div.mdl-cell.mdl-cell--6-col
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect#setbtn Set header						
				div.mdl-cell.mdl-cell--6-col
					button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect Check new header
				div.mdl-cell.mdl-cell--6-col
					div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.is-dirty.is-upgraded(data-upgraded=",MaterialTextfield")
						input.mdl-textfield__input(id="directory", onclick="openFileDialog()", type="upload", name="directory")
						label.mdl-textfield__label(for="directory") Output
					//- script(type="text/javascript").
					//- 	const {ipcRenderer} = require('electron')
					//- 	ipcRenderer.send('fileData',(event,data)=>{
					//- 		document.getElementById("textout").value = data
					//- 	})